@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,400&display=swap");

* {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(67, 67, 67);
  background: linear-gradient(
    0deg,
    rgba(67, 67, 67, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

h1 {
  font-size: 150px;
}

p {
  font-size: 20px;
}

.aboutme {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  color: #fff;
}

.projects {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  height: 50vh;
  flex-wrap: wrap;
}

.project {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: #000; */
  filter: drop-shadow(10px 10px 15px #000);
}

a {
  text-decoration: none;
  color: #fff;
  z-index: 2;
}

img {
  width: 400px;
  height: 200px;
  filter: blur(0.5px);
  border-radius: 15px;
}

@media screen and (min-width: 480px) {
  .aboutme {
    width: 100vw;
    text-align: center;
    display: flex;
    align-self: center;
  }
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 15px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  .project,
  img {
    width: 150px;
    height: 80px;
  }
}

@media screen and (max-width: 650px) {
  .aboutme {
    width: 90vw;
    margin-left: 5vw;
    text-align: center;
    display: flex;
    align-self: center;
  }
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 10px;
  }
  h2 {
    font-size: 15px;
    text-align: center;
  }
  .project,
  img {
    width: 200px;
    height: 100px;
  }
}

@media screen and (min-width: 850px) {
  h1 {
    font-size: 70px;
  }

  p {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  .project,
  img {
    width: 250px;
    height: 130px;
  }
}

@media screen and (min-width: 1100px) {
  h1 {
    font-size: 90px;
  }

  p {
    font-size: 25px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  .project,
  img {
    width: 300px;
    height: 150px;
  }
}

@media screen and (min-width: 1600px) {
  h1 {
    font-size: 140px;
  }

  p {
    font-size: 30px;
  }
  h2 {
    font-size: 40px;
    text-align: center;
  }

  .project,
  img {
    width: 400px;
    height: 200px;
  }
}
